<header className="hero is-link">
  <div className="hero-body">
    <h1 className="title has-text-centered">Sensor data:</h1>
  </div>
</header>
<body>
  <h2> humidity: {{humidity}} </h2>
  <h2> fire: {{fire}} </h2>
  <h2> Light level: {{lightlevel}} </h2>
  <h2> Temperature: {{temperature}} </h2>
  <h2> Vibration: {{vibration}} </h2>
  <h2> Touch: {{touch}} </h2>
  <h2> Carbon Monoxide: {{carbonmonoxide}} </h2>
  <h2> Sound level: {{soundlevel}}</h2>
  <h2> Gas: {{gas}}</h2>
  <h2> Water Level: {{waterlevel}} </h2>
</body>